@{
    ViewBag.Title = "Indonesia's Red Cross' Programs";
}
<div class="span2 well" style="padding: 8px 0;">
    <ul class="nav nav-list">
        <li class="nav-header">Program</li>
        <li class="active"><a href="">Blood Donor</a></li>
        <li><a href="">Mutual Alert</a></li>
        <li><a href="">Others</a></li>
        <li class="divider"></li>
        <li class="nav-header">Report</li>
        <li class="active"><a href="">Donation</a></li>
        <li><a href="">Program</a></li>
    </ul>
</div>
<div class="span10">
    <h1>
        <small>Program Donor Darah</small><br>
        Laporan Jumlah Donor per Provinsi <small>Agustus 2012</small>
    </h1>
    <p>
        Lorem tempor arcu! Sit etiam platea hac nec, vut! Pellentesque ut, dictumst elementum
        duis proin cursus duis cursus ut mauris? Integer dictumst arcu ut? Placerat a. Massa
        et. Dolor. In, mattis in dictumst a! Nisi, nunc penatibus elementum, ac non. Nec
        augue! Proin diam, tempor. Habitasse amet est nisi aliquet ac enim, facilisis magna,
        tincidunt magna penatibus sed risus, et arcu porttitor ut elementum tincidunt nisi
        porttitor auctor! Pid hac pulvinar scelerisque! Aliquam turpis magna.</p>
    <p>
        Placerat pulvinar, tincidunt natoque, natoque? Sociis, mus nec mus natoque enim
        ac! Aenean, egestas porttitor quis mid lectus sed auctor integer etiam aliquet urna
        dignissim integer mattis ultricies! Ac ac rhoncus ultricies habitasse porttitor,
        arcu lorem? Et nunc cum dis mauris, adipiscing sit tincidunt, a et lacus natoque
        mattis risus, dignissim, eu? Elementum! Ut mus nisi massa massa integer pid, a est
        sed facilisis. Purus in et rhoncus? Etiam dapibus sed augue pulvinar urna.</p>
    <h2>
        Peningkatan</h2>
    <p>
        In amet, et dapibus. Ut nisi auctor quis auctor cursus? Ac! Sociis eros pulvinar
        pulvinar dis aenean porttitor lorem lundium montes natoque amet? Mid ac nascetur
        augue eu elementum. Risus ridiculus, nisi dictumst eu nec dis tincidunt urna, dignissim
        turpis urna, porttitor est natoque ut! Mus penatibus.</p>
    <img src="http://i.imgur.com/n17d4.png">
    <h2>
        Partisipan</h2>
    <p>
        Placerat nisi vel ultrices! Mattis nisi proin massa auctor pulvinar pellentesque
        rhoncus sed, egestas.</p>
    <img src="http://i.imgur.com/srwpW.png">
