/* Normal Desktop */
@media (max-width: 979px)
{

}

/* Big Screen Desktop */
@media (min-width: 1200px)
{

}

/* Tablet */
@media (max-width: 767px)
{

}

/* Phone */
@media (max-width: 480px)
{
    #site-logo
    {
        display: block; /* centering requires this */
        margin-left: auto;
        margin-right: auto;
    }

    .nav-pmi > li
    {
        float: none;
    }

    .nav-pmi > li.active
    {
        background: #FF5640;
        border-radius: 7px;
        border: none;
    }

    .nav-pmi > li.active > a
    {
        color: #EEE;
    }

    .nav-pmi > li.active > a:hover
    {
        color: black;
    }
}
