@{
    ViewBag.Title = "Joining Indonesia's Red Cross";
}

            <div class="span2 well" style="padding: 8px 0;">
                <ul class="nav nav-list">
                    <li class="nav-header">Participation</li>
                    <li class="active"><a href="">Becoming a Donor</a></li>
                    <li><a href="">Become Our Partner</a></li>
                    <li><a href="">Learn with Us</a></li>
                    <li><a href="">Donor's Resources</a></li>
                </ul>
            </div>

            <div class="span10">
                <div class="row-fluid jumbotron">
                    <img src="http://i.imgur.com/hU4iT.jpg">
                    <h1>Let's make the world a better place!</h1>
                    <p>We need your help! Your contribution is essential for us. Here's why.</p>
                </div>

                <div class="row-fluid tripletron">
                    <div class="span4">
                        <h1>Dignissim</h1>
                        <p>Dignissim porta in ut et facilisis ultricies rhoncus? Ac phasellus est velit mus eu placerat dolor, enim platea lectus, natoque urna parturient magna natoque, sagittis amet nec etiam turpis, odio? Natoque magna, arcu mid, natoque nec platea turpis, odio ut! Lectus urna vel eros ultrices? Facilisis urna eros, in porttitor? Magna elit non habitasse hac integer adipiscing mus egestas odio, mattis penatibus porta urna a et proin porttitor? Cras quis lorem duis, tincidunt enim! Cum.</p>
                    </div>
                    <div class="span4">
                        <h1>Nisi</h1>
                        <p>Nisi tincidunt magnis ridiculus tincidunt eros platea nunc nec, porttitor porttitor proin, a porttitor. Augue purus tempor porta integer integer turpis est in elementum quis enim amet ridiculus sociis! Lundium nunc ultrices? Penatibus velit, sed urna, mattis vut, sit duis urna et odio odio, dictumst urna augue habitasse ultrices penatibus eros magnis etiam porta elementum odio cum pid tristique turpis, scelerisque nisi tincidunt in nascetur montes, natoque penatibus, pellentesque parturient nec. Nec tincidunt integer.</p>
                    </div>
                    <div class="span4">
                        <h1>Porttitor</h1>
                        <p>Porttitor, placerat magna, aliquet elementum, porttitor sed nisi a? Porttitor et dapibus auctor amet lacus ac velit nunc nascetur arcu, ac risus sed auctor, magnis! A scelerisque! Pulvinar natoque, nisi risus sed ut ac ut elementum amet enim est, dis adipiscing, a hac turpis, mauris enim tincidunt. Purus risus, tincidunt urna phasellus! Montes ut est cras nec pid lorem! Tortor ut penatibus tempor lacus nunc dignissim parturient arcu arcu magnis? Velit dis ridiculus! Odio.</p>
                    </div>
                </div>

                <div class="row-fluid singletron">
                    <h1>Be Our Donors!</h1>
                    <p>Adipiscing natoque, nisi ac dictumst in tincidunt diam, et sociis porta ac nec arcu, integer etiam pulvinar quis ac, adipiscing elit? Facilisis montes tincidunt tincidunt habitasse, phasellus ultricies placerat vel amet augue a nascetur? Porttitor? Montes amet tincidunt in tincidunt, vel sociis dolor mauris habitasse enim mid urna cursus, in, amet tortor massa, ac, placerat ultrices! Integer, sit ac elementum phasellus mattis, etiam integer dolor nunc pulvinar integer, ac vut magna! Cursus mus a.
                    </p>

                    <p>Purus et turpis augue vel, non porttitor? Vel natoque scelerisque lorem amet eu augue cursus mattis et habitasse nunc integer integer dictumst egestas, montes, a lundium non, a egestas. Elit elementum mauris, et sociis! Adipiscing, penatibus velit arcu turpis, est dapibus! Ut elementum et cursus et porttitor magna odio facilisis lorem etiam risus ut vut, enim? Porttitor sagittis amet, phasellus pellentesque, elementum, diam. A? Purus tincidunt turpis lorem auctor eu porta porta tempor sociis.</p>

                    <a href="" class="btn btn-danger">Be our donors!</a>

                    <h1>Work with us!</h1>
                    <p>A pulvinar. Turpis ac! Est placerat, sit purus? Velit! Nisi dignissim dictumst pid magnis. Mid rhoncus porta etiam egestas rhoncus diam rhoncus in porta, ultricies enim aenean mauris! Etiam diam, ridiculus massa, velit penatibus magna integer. Adipiscing diam ac quis vel tristique dictumst ac, purus parturient facilisis montes ac aliquet in purus nisi. Pulvinar, porttitor pulvinar! Porttitor ridiculus, etiam porttitor cras enim, dis porta. Risus, porttitor et cras pulvinar augue lacus phasellus. Non adipiscing.</p>

                    <p>Cum! Duis vel ut enim, est placerat penatibus porta sagittis dictumst scelerisque! Mid? Pid. Aliquet? Tincidunt! Porta! Tortor magna integer sed habitasse mattis adipiscing nascetur, cursus enim dis risus. Ridiculus ac dolor nascetur mauris amet nascetur in magna, mid? Placerat ut cum et! In nec, odio, pulvinar proin! Penatibus, turpis porttitor tortor cursus? Sed urna a rhoncus est in, vut sed. Sed auctor aliquet elementum aliquam arcu montes nec! Facilisis mus phasellus et nisi.</p>

                    <a href="" class="btn btn-danger">Work with us!</a>

                    <h1>Learn From Us!</h1>
                    <p>Elementum dis? Dis? Ut aenean adipiscing massa elementum. Sit augue, scelerisque! Turpis urna nisi, elementum placerat nascetur porttitor? Est platea! Placerat porta lorem nisi tempor, elementum. Integer mattis ac, auctor vel, cursus tristique platea, tincidunt magna purus odio. Scelerisque! Nunc risus? Tortor! Massa penatibus. Natoque urna eros, risus sed magnis! Integer odio auctor dictumst porta mauris risus, elit massa! Porta a montes magna integer parturient rhoncus? Sed in. Magna ut arcu eros nec rhoncus.</p>

                    <a href="" class="btn btn-danger">Learn from us!</a>

                    <h1>Links</h1>
                    <p>Aliquet enim, lorem tempor pid dictumst ultricies, et vel sit turpis. Scelerisque adipiscing sociis, tincidunt et ac? Nec aenean facilisis.

                        <ol>
                            <li><a href="">Link 1</a></li>
                            <li><a href="">Link 2</a></li>
                            <li><a href="">Link 3</a></li>
                            <li><a href="">Link 4</a></li>
                        </ol>

                    </p>
                </div>
            </div>

