@{
    ViewBag.Title = "Palang Merah Indonesia";
    Layout = "~/Views/Shared/_Onepage.cshtml";
}

<div class="row">
    <div id="logo" style="background:red; width:100%; height:150px;">LOGO DINAMIC INTERACTIVE (FLASH / ANIMASI)</div>
</div>
<div class="row">
    <div id="call-center" style="background:blue; height: 200px" class="span3">CALL CENTER 179 PUSAT PELAYANAN INFORMASI PMI NASIONAL</div>
    <div id="portal-menu" style="background:grey; height: 200px" class="span9">PORTAL MENU ONLINE ALTER SYSTEM LINKS EXTERNAL DISASTER SYSTEM LOCAL GOV - NGO</div>
</div>

<div class="menu">
<ul class="nav nav-pmi">
        <li ><a href="/">Berita</a></li>
        <li ><a href="/Home/Headline">Utama</a></li>
        <li class=active><a href="/Home/Events">Peristiwa</a></li>
        <li ><a href="/Home/PressRelease">Siaran Pers</a></li>

    <li class="pull-right">
<form action="/Search/Result" class="form-search" method="get">            <div class="input-prepend">
                <span class="add-on"><i class="icon-search"></i></span><input type="text" id="prependedInput" class="input-medium search-query" name="query" />
            </div>
</form>    </li>

</ul>
</div>

<div class="row">
    <div id="headline" style="background: #F0F; height:500px" class="span8">HEADLINE NEW's (INFORMATION) TEXT, VCLIP</div>
    <div id="social-media1" style="background:#0FF; height:300px" class="span4">Social Media Video, V-Clip Update</div>
    <div id="social-media2" style="background:#FF0; height:200px" class="span4">Social Media Text & Voice</div>
</div>

<div class="row">
    <div id="content" style="background: #FF0; height:500px" class="span8">CONTEN TOPIC SEARCH KEY ENGINE DLL</div>
    <div id="social-media-chat" style="background:#F0F; height:300px" class="span4">SOCIAL MEDIA CHAT</div>
    <div id="social-media2" style="background:#0FF; height:200px" class="span4">RADIO STREAMING PMI SOCIAL INFORMATION</div>
</div>

<div class="row">
    <div id="publikasi" style="background: #AAA; height: 75px" class="span8">PUBLIKASI</div>
    <div id="education" style="background: #0A0; height: 75px" class="span4">EDUCATION INFO</div>
</div>

<div class="row" style="background: #A00; height: 100px;" id="public-info">
    PUBLIC INFO
</div>

<div class="row">
    <div id="sponsor" style="background: #00A; height: 250px" class="span6">SPONSOR</div>
    <div id="info-menu" style="background: #0A0; height: 250px" class="span6">INFO MENU</div>
</div>

<div class="row" style="background: black; height: 200px; color: White;">
    ADMIN MENU
</div>
