body 
{
    background: url("Images/retina_wood.png");
}

#site-logo
{
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dropdown-menu .active > a
{
    color: White;
}

/* ASP.net MVC Form Errors style */
.validation-summary-errors, .field-validation-error
{
    color: Red;
}
/* ASP.net MVC Form Errors style ends */
