.post h1 
{
    margin-bottom: 0;
    line-height: 1em;
}

.post-info 
{
    line-height: 48px;
    color: Gray;
}

.utama 
{
    margin-bottom: 2em;
}

.gambar-utama
{
    display: inline;
    float: left;
    margin-right: 15px;
    vertical-align: text-top;
}
