#single-post h1 
{
    margin-bottom: 0;
    line-height: 1em;
    text-transform: uppercase;
}

#single-post-info 
{
    line-height: 48px;
    color: Gray;
}

#single-post-content > p:first-of-type:first-letter
{
    display: block;
    float: left;
    font-weight: bold;
    font-size: 300%;
    line-height: .9em;
    margin-right: 5px;
}
.gambar-post 
{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}
