@model PMI.Areas.Admin.Models.ThemeModel

@{
    ViewBag.Title = "Pilih Tema";
}

<h2>Silahkan pilih tema yang ingin digunakan untuk situs PMI</h2>

@using (Html.BeginForm())
{ 
    <ul>
    @foreach (var theme in Model.theme)
    {
        <li>
            @Html.RadioButtonFor(model => model.theme, theme)
            @Html.LabelFor(model => model.theme, theme)
        </li>
    }
        <li>
            <button type="submit" class="btn btn-primary">Pilih Tema</button>
            <button type="reset" class="btn">Reset</button>
        </li>
    </ul>
}
