@{
    ViewBag.Title = "Index";
}

<h3>1. Apa yang dimaksud dengan Hukum Perikemanusiaan Internasional ? </h3>
Hukum Perikemanusiaan Internasional adalah seperangkat aturan yang karena alasan kemanusiaan dibuat untuk membatasi akibat-akibat dari pertikaian bersenjata. Hukum ini melindungi mereka yang tidak atau tidak lagi terlibat dalam pertikaian dan membatasi cara-cara dan metode peperangan.
Hukum Perikemanusiaan Internasional adalah istilah yang digunakan oleh Palang Merah Indonesia untuk Hukum Humaniter Internasional (International Humanitarian Law). Istilah lain dari Hukum Humaniter Internasional ini adalah "Hukum Perang" (Law of War) dan "Hukum Konflik Bersenjata" 
(Law of Armed Conflict). 

<h3>2. Dari mana asalnya Hukum Perikemanusiaan Internasional ? </h3>
Hukum Perikemanusiaan Internasional adalah bagian dari hukum internasional. Hukum internasional adalah hukum yang mengatur hubungan antara negara. Hukum internasional dapat ditemui dalam perjanjian-perjanjian yang disepakati antara negara-negara sering disebut traktat atau konvensi dan secara prinsip dan praktis negara 

<h3>3. Dimana Hukum Perikemanusiaan Internasional dapat ditemukan ? </h3>
Sebagian besar dari hukum perikemanusiaan internasional ditemukan dalam empat Konvensi Jenewa tahun 1949. Hampir setiap negara di dunia telah sepakat untuk mengikatkan diri pada Konvensi itu. Konvensi-Konvensi Jenewa 1949 telah dikembangkan dan dilengkapi dengan dua perjanjian lanjutan yaitu Protokol-protokol Tambahan tahun 1977. 

<h3>4. Apa cakupan Hukum Perikemanusiaan Internasional? </h3>
Ada dua bahasan yang menjadi cakupan hukum perikemanusiaan internasional, yaitu:
Perlindungan atas mereka yang tidak dan tidak lagi mengambil bagian dan suatu pertikaian.
Batasan-batasan atas sarana peperangan, khususnya persenjataan dan metode atau cara-cara peperangan seperti taktik-taktik militer.

<h3>5. Apa yang dimaksud dengan Perlindungan? </h3>
Hukum perikemanusiaan internasional melindungi mereka yang tidak ambil bagian atau tidak terlibat dalam pertikaian yaitu seperti warga sipil serta petugas medis dan rohani. Hukum perikemanusiaan juga melindungi mereka yang tidak lagi ambil bagian dalam pertikaian seperti mereka yang telah terluka atau korban kapal karam, mereka 

<h3>6. Persenjataan dan taktik-taktik apa saja yang dibatasi? </h3>
Hukum perikemanusiaan internasional melarang segala sarana dan cara-cara peperangan yang:
Gagal membedakan antara mereka yang terlibat dalam pertikaian dan mereka seperti warga sipil, yang tidak terlibat dalam pertikaian;
Menyebabkan luka-luka yang berlebihan atau penderitaan yang tidak semestinya;
Menyebabkan kerusakan lingkungan yang berkepanjangan atau sangat parah.
Hukum perikemanusiaan internasional juga telah melarang penggunaan berbagai jenis persenjataan tertentu termasuk peluru ledak, senjata kimia dan biologi serta senjata "laser-blinding weapon." 

<h3>7. Kapan Hukum Perikemanusiaan Internasional Berlaku? </h3>
Hukum perikemanusiaan internasional hanya berlaku pada saat terjadi pertikaian bersenjata. Hukum tersebut tidak dapat diterapkan pada kekacauan dalam negeri seperti tindakan-tindakan kekerasan yang terisolasi. Hukum perikemanusiaan internasional juga tidak mengatur apakah suatu negara dapat menggunakan kekuatan 

<h3>8. Apakah Hukum Perikemanusiaan Internasional benar-benar berjalan? </h3>
Tragisnya contoh-contoh pelanggaran hukum perikemanusiaan internasional tak terhitung telah terjadi dalam pertikaian bersenjata di seluruh dunia. Bahkan korban yang meningkat dalam peperangan adalah warga sipil. Namun, terdapat hal-hal penting dimana hukum perikemanusiaan internasional telah membuat suatu perbedaan dalam 
