#pmi-brand
{
    color: Red;
}

#site-logo
{
    max-height: 20px;
}

#title 
{
    color: Red;
    margin-bottom: 0;
    text-align: center;
}

body
{
    padding: 60px 0;
}

/* ASP.net MVC Form Errors style */
.validation-summary-errors, .field-validation-error
{
    color: Red;
}
/* ASP.net MVC Form Errors style ends */

.footer
{
    border-top: 1px solid #DDD;
    margin-top: 2em;
    padding-top: 2em;
}

#language-selection 
{
    text-align: center;
}
