@{
    ViewBag.Title = MainPageResources.WhoWeAreMenu + " - " + WhoWeAre.DevelopmentWork;
}

<div class="row">
    <div class="span3">
        @Html.Action("WhoWeAreMenu", "Navigation", new { controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue, action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue, area = "" })
    </div>
    <div class="span9">
<p><b >1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</b><b >DISEMINASI (DISSEMINATION)</b></p>
<p>(kosongin saja dulu, karena masih menunggu data)</p>
<p><b >PENGURANGAN RISIKO BENCANA
TERPADU MASYARAKAT (DISASTER RISK REDUCTION)</b></p>
<p>PMI menjalankan Program PERTAMA atau Pengurangan Risiko
Terpadu Berbasis Masyarakat, yaitu sebuah program berbasis masyarakat yang
mendorong pemberdayaan kapasitas masyarakat untuk menyiagakan diri dalam
mencegah serta mengurangi dampak dan risiko bencana yang terjadi di tempat
tinggalnya.</p>
<p>Masyarakat sebagai pihak yang langsung terkena dampak saat
bencana terjadi harus diberdayakan dengan pengetahuan dan ketrampulan yang
memadai, sehingga mampu melakukan upaya-upaya penanggulangan dampak bencana dan
risikonya.</p>
<p>PERTAMA diterapkan di daerah yang rawan banjir, longsor,
gempa, letusan gunung berapi, gelombang pasang dan tsunami. Di area, dimana
masyarakat mudah bekerjasama (gotong royong) untuk melaksanakan upaya mitigasi
atau pengurangan risiko. Penerima manfaat dari program ini adalah masyarakat
yang paling rentan, yang secara langsung kondisi kesehatan, kehidupan ekonomi
dan lingkungan hidupnya terancam.</p>
<p>Dengan program PERTAMA, PMI Daerah dan Cabang diharapkan
dapat meningkatkan kemampuannya dalam tanggap darurat dan melaksanakan langkah
mitigasi dampak dan risiko bencana. Demikian juga halnya dengan ketrampilan
membuat peta rawan bencana, menentukan jalur evakuasi dan sistem peringatan
dini.</p>
<p>Program PERTAMA mencakup di bidang kesehatan: penyadaran
hidup bersih dan sehat, perbaikan sarana air bersih, pencegahan penyakit yang
disebabkan sanitasi buruk, lingkungan yang kotor, air limbag dan sebagainya.
Bidang ekonomi: perlindungan lahan pertanian dan tambak, peningkatan mata
pencaharian, dan sebagainya. Bidang lingkungan hidup: penyadaran tentang
pelestarian lingkungan, perlindungan bantaran sungai, pesisir pantai, perbaikan
saluran air, dan sebagainya.</p>
<p>Pelaksanaan program sejauh ini dilakukan di PMI Daerah di
Aceh, Sumatera Barat, Sumatera Utara, Lampung, DKI Jakarta, Jawa Barat, Jawa
Tengah, DI Yogyakarta, Kalimantan Selatan, Bali, Sulawesi Selatan, Sulawesi
Tenggara, Sulawesi Barat, Sulawesi Utara, Nusa Tenggara Barat, dan Nusat
Tenggara Timur.&nbsp;&nbsp;</p>
<p><b>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b><b>PMR &amp; RELAWAN (YOUTH AND VOLUNTEER)</b></p>
<p><b>&nbsp;</b>Setiap
orang dapat menjadi anggota Palang Merah Remaja (PMR) dan relawan yang terbagi
ke dalam anggota KSR (Korps Sukarela), TSR (Tenaga Sukarela), dan DDS (Donor
Darah Sukarela). Relawan adalah tulang
punggung PMI sehingga perlu ditingkatkan kapasitasnya dengan mengikuti
berbagai pelatihan manajerial dan ketrampilan yang menunjang kegiatan pelayanan
dan bantuan kemanusiaan, seperti pertolongan pertama, manajemen bencana,
dukungan psikososial dan pemulihan hubungan keluarga.</p>
<p>&nbsp;<b>Korps Sukarela (KSR)</b></p>
<p>Korps Sukarela (KSR) adalah kesatuan unit PMI yang menjadi
wadah bagi anggota biasa dan perseorangan yang atas kesadaran sendiri
menyatakan menjadi anggota KSR. <br>
<br>
<i>Menjadi
Anggota KSR </i></p>
<ul type="disc">
<li >WNI atau WNA yang sedang berdomisili di Indonesia</li>
<li >Berusia minimal 20 tahun</li>
<li >Berpendidikan minimal SLTP/Sederajat</li>
<li >Bersedia mengikuti pendidikan dan pelatihan</li>
<li >Bersedia menjalankan tugas kepalangmerahan secara terorganisir dan
mentaati peraturan yang berlaku</li>
</ul>
<p><b>&nbsp;</b><i>Pendaftaran Anggota KSR</i></p>
<p>Apabila telah memenuhi persyaratan di atas, daftarkan diri
ke Kantor PMI Cabang setempat dan bergabung menjadi KSR Unit Markas Cabang.
Bila anda seorang mahasiswa suatu perguruan tinggi, dapat menghubungi Unit
Kegiatan Mahasiswa (UKM) yang menangani kepalangmerahan dan bergabung menjadi
anggota kepalangmerahan setelah melewati pendidikan dasar, maka dapat bergabung
menjadi KSR-PMI Perguruan Tinggi.</p>
<p>&nbsp;<i>Pendidikan
&amp; Pelatihan</i></p>
<p>Setelah rekrutmen, anda akan mengikuti pelatihan tingkat
dasar KSR, sebelum menginjak tingkat lanjutan dan spesiailisasi yang
diselenggarakan oleh Markas Cabang. Sedangkan bagi anggota UKM kepalangmerahan,
setelah pelatihan dasar di UKM dapat ditindaklanjuti pelatihan lanjutan di
Cabang untuk menjadi anggota KSR PMI Perguruan Tinggi. Pelatihan spesialisasi
biasanya akan diberikan kepada KSR yang siap menjadi anggota
"Satgana" (Satuan Siaga Penanggulangan Bencana). Cakupan kegiatan
tersebut pada intinya diarahkan untuk melaksanakan pertolongan/bantuan dalam
kesatuan unit terorganisasi di bidang Penanggulangan Bencana serta Pelayanan
Sosial dan Kesehatan Masyarakat. </p>
<p><i>Kegiatan
KSR </i></p>
<ul type="disc">
<li >Donor darah sukarela</li>
<li >Pertolongan pertama dan evakuasi pada kecelakaan, bencana dan konflik</li>
<li >Dapur umum, penampungan darurat, distribusi relief, <i>Reunification Family Link</i> (RFL) untuk
korban bencana</li>
<li >Pelayanan pada program berbasis masyarakat (CBFA/CBDP)</li>
<li >Layanan konseling dan Pendidikan Remaja Sebaya (PRS) untuk pencegahan
sebaran HIV/AIDS dan narkoba &nbsp;</li>
<li >Ketrampilan hidup</li>
<li >Temu Karya KSR</li>
<li >Membantu PMI Cabang membina PMR</li>
</ul>
<p><b>Tenaga Sukarela (TSR)</b></p>
<p>TSR adalah anggota PMI yang direkrut dari perseorangan
dari kalangan masyarakat yang berlatar belakang profesi atau memiliki
ketrampilan tertentu, misalnya dokter, ahli gizi, sanitasi, akuntan, logistik,
teknisi, pertanian, jurnalis, seniman/artis, teknologi komunikasi, guru, dsb.<br>
<br>
<i>Menjadi
Anggota TSR </i></p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Usia minimal 18 tahun dan serendahnya tamatan
SMP/Sederajat</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Atas kesadaran dan kemauan sendiri bersedia mendaftarkan
diri menjadi anggota PMI setempat</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Memiliki keterampilan/keahlian/profesi tertentu yang dapat
mendukung tugas dan kegiatan PMI, baik yang didapat dari pendidikan formal
maupun non formal, seperti kursus, dll</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Memiliki kesanggupan secara fisik dan mental</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Bersedia menjalankan ketentuan organisasi PMI dan menjaga
nama baik PMI</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Bersedia mengabdikan diri di PMI</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Bersedia mengikuti Orientasi Kepalangmerahan</p>
<p><i>Persyaratan bagi WNA</i></p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
WNA yang telah memenuhi ketentuan perundang-undangan yang
berlaku di Indonesia (mempunyai dokumen keimigrasian yang jelas)</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Bersedia mengikuti Orientasi Kepalangmerahan</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Mendaftarkan diri atas kesadaran dan kemauan sendiri</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Bersedia mentaati peraturan organisasi yang berlaku dan
menjaga nama baik PMI</p>
<p>Kalangan profesional yang berminat ingin bergabung dengan
PMI dapat menghubungi Markas PMI Cabang atau Daerah setempat kemudian mengikuti
orientasi kepalangmerahan, sebelum dilibatkan dalam berbagai kegiatan
kemanusiaan. Mereka akan direkrut bilamana PMI mempunyai program kegiatan
pelayanan yang memerlukan tenaga relawan dengan spesifikasi yang terkait, untuk
ditugaskan di lokasi operasi kemanusiaan tersebut.</p>
<p><b>Palang
Merah Remaja (PMR)</b></p><p>
PMR adalah wadah kegiatan remaja di sekolah atau lembaga pendidikan normal
dalam kepalangmerahan melalui program ekstra kurikuler. <br>
<br>
<i>M</i><i>enjadi anggota PMR </i></p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
WNI atau WNA yang berdomisili di Indonesia</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Berusia 7-20 tahun dan belum menikah</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Berpendidikan setingkat SD, SLTP dan SLTA</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Bersedia mengikuti pelatihan dan pendidikan dasar
kepalangmerahan</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Mendapat persetujuan orang tua/wali</p>
<p><i>Anggota
PMR </i></p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
PMR MULA berusia 7 – 12 tahun atau setingkat SD</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
PMR MADYA berusia 12 – 16 tahun atau setingkat SLTP</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
PMR WIRA berusia 16 – 20 tahun atau setingkat SLTA</p>
<p><i>Kegiatan PMR</i></p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Pengumpulan bantuan di sekolah untuk korban bencana</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Bakti sosial dengan kunjungan ke rumah sakit atau panti
jompo/panti asuhan untuk perawatan keluarga, gerakan kebersihan lingkungan, dsb</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Mengikuti gerakan kakek/nenek angkat asuh</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Mengikuti pelatihan remaja sebaya di bidang kesehatan
remaja dan HIV/AIDS</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Donor darah siswa</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Seni (majalah dinding, lomba-lomba)</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Program persahabatan remaja palang merah regional/internasional</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Jumbara (Jumpa Bakti Gembira) PMR</p>
<p><i>Tri Bakti Remaja</i></p>
<p>Ruang
lingkup kegiatan PMR dikenal dengan nama Tri Bakti Remaja yang mengandung arti: </p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Berbakti kepada masyarakat (seperti
mengadakan kunjungan berkala ke panti jompo, menjadi donor darah) </p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Mempertinggi keterampilan serta memelihara kebersihan dan kesehatan (misalnya,
mempraktikkan kebersihan dan kesehatan di lingkungan sekitar)</p>
<p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Mempererat persahabatan nasional dan internasional (contohnya,
melakukan latihan gabungan PMR dengan kelompok PMR lain, saling bertukar album
persahabatan)</p>
    </div>
</div>