@{
    ViewBag.Title = MainPageResources.WhoWeAreMenu + " - " + WhoWeAre.History;
}

<div class="row">
    <div class="span3">
        @Html.Action("WhoWeAreMenu", "Navigation", new { controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue, action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue, area = "" })
    </div>

    <div class="span9">
        <h2>Gerakan</h2>

        <ol>
            <li>
                <h3>GERAKAN PALANG MERAH DAN BULAN SABIT MERAH INTERNASIONAL</h3>
                <p>
                    Pada tanggal 24 Juni 1859 di kota Solferino, Italia Utara, pasukan Perancis dan
                    Italia sedang bertempur melawan pasukan Austria dalam suatu peperangan yang mengerikan.
                    Pada hari yang sama, seorang pemuda warganegara Swiss, Henry Dunant , berada di
                    sana dalam rangka perjalanannya untuk menjumpai Kaisar Perancis, Napoleon III. Puluhan
                    ribu tentara terluka, sementara bantuan medis militer tidak cukup untuk merawat
                    40.000 orang yang menjadi korban pertempuran tersebut. Tergetar oleh penderitaan
                    tentara yang terluka, Henry Dunant bekerjasama dengan penduduk setempat, segera
                    bertindak mengerahkan bantuan untuk menolong mereka.
                </p>
                <p>
                    Beberapa waktu kemudian, setelah kembali ke Swiss, dia menuangkan kesan dan pengalaman
                    tersebut kedalam sebuah buku berjudul "Kenangan dari Solferino", yang menggemparkan
                    seluruh Eropa. Dalam bukunya, Henry Dunant mengajukan dua gagasan:
                    <ul>
                        <li>Pertama, membentuk organisasi kemanusiaan internasional , yang dapat dipersiapkan pendiriannya pada masa damai untuk menolong para prajurit yang cedera di medan perang.</li>
                        <li>Kedua, mengadakan perjanjian internasional guna melindungi prajurit yang cedera di medan perang serta perlindungan sukarelawan dan organisasi tersebut pada waktu memberikan pertolongan pada saat perang.</li>
                    </ul>
                </p>
                <p>
                    Pada tahun 1863, empat orang warga kota Jenewa bergabung dengan Henry Dunant untuk
                    mengembangkan gagasan pertama tersebut. Mereka bersama-sama membentuk "Komite Internasional
                    untuk bantuan para tentara yang cedera", yang sekarang disebut Komite Internasional
                    Palang Merah atau International Committee of the Red Cross (ICRC).
                </p>
                <p>
                    Dalam perkembangannya kelak untuk melaksanakan kegiatan kemanusiaan di setiap negara
                    maka didirikanlah organisasi sukarelawan yang bertugas untuk membantu bagian medis
                    angkatan darat pada waktu perang. Organisasi tersebut yang sekarang disebut Perhimpunan
                    Nasional Palang Merah atau Bulan Sabit Merah.
                </p>
                <p>
                    Berdasarkan gagasan kedua, pada tahun 1864, atas prakarsa pemerintah federal Swiss
                    diadakan Konferensi Internasional yang dihadiri beberapa negara untuk menyetujui
                    adanya "Konvensi perbaikan kondisi prajurit yang cedera di medan perang". Konvensi
                    ini kemudian disempurnakan dan dikembangkan menjadi Konvensi Jenewa I, II, III dan
                    IV tahun 1949 atau juga dikenal sebagai Konvensi Palang Merah. Konvensi ini merupakan
                    salah satu komponen dari Hukum Perikemanusiaan Internasional (HPI) suatu ketentuan
                    internasional yang mengatur perlindungan dan bantuan korban perang.
                </p>
            </li>

            <li>
                <h3>PALANG MERAH INTERNASIONAL</h3>
                <p>
                    Komite Internasional Palang Merah/International Committee of the Red Cross (ICRC)
                    dibentuk pada tahun 1863 dan bermarkas besar di Swiss. ICRC merupakan lembaga kemanusiaan
                    yang bersifat mandiri dan sebagai penengah yang netral. ICRC berdasarkan prakarsanya
                    atau konvensi-konvensi Jenewa 1949 berkewajiban memberikan perlindungan dan bantuan
                    kepada korban dalam pertikaian bersenjata internasional maupun kekacauan dalam negeri.
                    Selain memberikan bantuan dan perlindungan untuk korban perang, ICRC juga bertugas
                    untuk menjamin penghormatan terhadap Hukum Perikemanusiaan internasional.
                </p>
                <p>
                    Perhimpunan Nasional Palang Merah atau Bulan Sabit Merah didirikan hampir di setiap
                    negara di seluruh dunia dan kini berjumlah 176 Perhimpunan Nasional, termasuk Palang
                    Merah Indonesia (PMI). Kegiatan perhimpunan nasional beragam seperti bantuan darurat
                    pada bencana, pelayanan kesehatan, bantuan sosial, pelatihan P3K dan pelayanan transfusi
                    darah. Persyaratan pendirian suatu perhimpunan nasional diantaranya adalah:
                    <ul>
                        <li>mendapat pengakuan dari pemerintah negara yang sudah menjadi peserta Konvensi Jenewa</li>
                        <li>menjalankan Prinsip Dasar Gerakan</li>
                    </ul>
                </p>
                <p>
                    Bila demikian ICRC akan memberi pengakuan keberadaan perhimpunan tersebut sebelum
                    menjadi anggota Federasi Internasional Palang Merah dan Bulan Sabit Merah.
                </p>
                <p>
                    Federasi Internasional Perhimpunan Palang Merah dan Bulan Sabit Merah/International
                    Federation of Red Cross and Red Crescent (IFRC), Pendirian Federasi diprakarsai
                    oleh Henry Davidson warganegara Amerika yang disahkan pada suatu Konferensi Internasional
                    Kesehatan pada tahun 1919 untuk mengkoordinir bantuan kemanusiaan, khususnya saat
                    itu untuk menolong korban dampak paska perang dunia I dalam bidang kesehatan dan
                    sosial. Federasi bermarkas besar di Swiss dan menjalankan tugas koordinasi anggota
                    Perhimpunan Nasional dalam program bantuan kemanusiaan pada masa damai, dan memfasilitasi
                    pendirian dan pengembangan organisasi palang merah nasional.
                </p>
            </li>
        </ol>

        <h2>Pertemuan Organisasi Palang Merah Internasional</h2>

        <p>
            Sesuai dengan Statuta dan Anggaran Dasar Gerakan Palang Merah dan Bulan Sabit Merah
            menyebutkan empat tahun sekali diselenggarakan Konferensi Internasional Palang Merah
            dan Bulan Sabit Merah (Internasional Red Cross Conference) . Konferensi ini dihadiri
            oleh seluruh komponen Gerakan Palang Merah Internasional ( ICRC, perhimpunan nasional
            dan Federasi Internasional ) serta seluruh negara peserta Konvensi Jenewa. Konferensi
            ini merupakan badan tertinggi dalam Gerakan dan mempunyai mandat untuk membahas
            dan memutuskan semua ketentuan internasional yang berkaitan dengan kegiatan kemanusiaan
            kepalangmerahan yang akan menjadi komitmen semua peserta.
        </p>
        <p>
            Dua tahun sekali , Gerakan Palang Merah Internasional juga mengadakan pertemuan
            Dewan Delegasi (Council of Delegates) , yang anggotanya terdiri atas seluruh komponen
            Gerakan. Dewan Delegasi akan membahas permasalahan yang akan dibawa dalam konferensi
            internasional. Suatu tim yang dibentuk secara khusus untuk menyiapkan pertemuan
            selang antar konferensi internasional yaitu Komisi Kerja (Standing Commission).
        </p>
        <p>
            Bersamaan dengan pertemuan tersebut khusus untuk Federasi Internasional dan anggota
            perhimpunan nasional juga mengadakan pertemuan Sidang Umum (General Assembly) sebagai
            forum untuk membahas program kepalangmerahan dan pengembangannya.
        </p>

        <h2>PMI (Palang Merah Indonesia)</h2>

        <p>
            Berdirinya Palang Merah di Indonesia sebenarnya sudah dimulai sejak masa sebelum
            Perang Dunia Ke-II. Saat itu, tepatnya pada tanggal 21 Oktober 1873 Pemerintah Kolonial
            Belanda mendirikan Palang Merah di Indonesia dengan nama Nederlands Rode Kruis Afdeling
            Indie (Nerkai), yang kemudian dibubarkan pada saat pendudukan Jepang.
        </p>
        <p>
            Perjuangan untuk mendirikan Palang Merah Indonesia sendiri diawali sekitar tahun
            1932. Kegiatan tersebut dipelopori oleh Dr. RCL Senduk dan Dr Bahder Djohan. Rencana
            tersebut mendapat dukungan luas terutama dari kalangan terpelajar Indonesia. Mereka
            berusaha keras membawa rancangan tersebut ke dalam sidang Konferensi Nerkai pada
            tahun 1940 walaupun akhirnya ditolak mentah-mentah. Terpaksa rancangan itu disimpan
            untuk menunggu kesempatan yang tepat. Seperti tak kenal menyerah, saat pendudukan
            Jepang, mereka kembali mencoba untuk membentuk Badan Palang Merah Nasional, namun
            sekali lagi upaya itu mendapat halangan dari Pemerintah Tentara Jepang sehingga
            untuk kedua kalinya rancangan itu harus kembali disimpan.
        </p>
        <p>
            Tujuh belas hari setelah proklamasi kemerdekaan 17 Agustus 1945, yaitu pada tanggal
            3 September 1945, Presiden Soekarno mengeluarkan perintah untuk membentuk suatu
            badan Palang Merah Nasional. Atas perintah Presiden, maka Dr. Buntaran yang saat
            itu menjabat sebagai Menteri Kesehatan Republik Indonesia Kabinet I, pada tanggal
            5 September 1945 membentuk Panitia 5 yang terdiri dari: dr R. Mochtar (Ketua), dr.
            Bahder Djohan (Penulis), dan dr Djuhana; dr Marzuki; dr. Sitanala (anggota).
        </p>
        <p>
            Akhirnya Perhimpunan Palang Merah Indonesia berhasil dibentuk pada 17 September
            1945 dan merintis kegiatannya melalui bantuan korban perang revolusi kemerdekaan
            Republik Indonesia dan pengembalian tawanan perang sekutu maupun Jepang. Oleh karena
            kinerja tersebut, PMI mendapat pengakuan secara Internasional pada tahun 1950 dengan
            menjadi anggota Palang Merah Internasional dan disahkan keberadaannya secara nasional
            melalui Keppres No.25 tahun 1959 dan kemudian diperkuat dengan Keppres No.246 tahun
            1963.
        </p>
        <p>
            Kini jaringan kerja PMI tersebar di 30 Daerah Propinsi / Tk.I dan 323 cabang di
            daerah Tk.II serta dukungan operasional 165 unit Transfusi Darah di seluruh Indonesia.
        </p>

        <h2>Peran dan Tugas PMI</h2>

        <p>
            Peran PMI adalah membantu pemerintah di bidang sosial kemanusiaan, terutama tugas
            kepalangmerahan sebagaimana dipersyaratkan dalam ketentuan Konvensi-Konvensi Jenewa
            1949 yang telah diratifikasi oleh pemerintah Republik Indonesia pada tahun 1958
            melalui UU No 59.
        </p>
        <p>
            Tugas Pokok PMI:
            <ul>
                <li>Kesiapsiagaan bantuan dan penanggulangan bencana</li>
                <li>Pelatihan pertolongan pertama untuk sukarelawan</li>
                <li>Pelayanan kesehatan dan kesejahteraan masyarakat </li>
                <li>Pelayanan transfusi darah ( sesuai dengan Peraturan Pemerintah no 18 tahun 1980) </li>
                <li>Dalam melaksanakan tugasnya PMI berlandaskan pada 7 (tujuh) prinsip dasar Gerakan Palang Merah dan Bulan Sabit Merah, yaitu Kemanusiaan, Kesukarelaan, Kenetralan, Kesamaan, Kemandirian, Kesatuan dan Kesemestaan.</li>
            </ul>
        </p>

        <h2>Kinerja PMI dari Masa ke Masa </h2>
        <h3>Dasawarsa I 1945 -1954</h3>

        <p>
            Pada masa perang kemerdekaan RI, peranan PMI yang menonjol adalah di bidang Pertolongan
            pertama, Pengungsian, Dapur Umum, pencarian dan pengurusan repatriasi, bekerjasama
            dengan ICRC dan Palang Merah Belanda untuk Romusha, Heiho , Tionghoa; anak-anak
            Indo Belanda dan 35.000 tawanan sipil Belanda dan para Hoakian yang kembali ke RRC.
            Sementara itu diadakan pula pendidikan untuk para juru rawat yang akan dikirim ke
            pos-pos P3K di daerah pertempuran.
        </p>
        <p>
            Saat itu sudah ada 40 cabang PMI di seluruh Indonesia dan setiap cabang memiliki
            dua buah Pos P3K sebagai Tim Mobil Collone.
        </p>
        <p>
            Rumah Sakit Umum Palang Merah di Bogor yang semula di bawah pengelolaan Nerkai,
            pada tahun 1948 disumbangkan kepada PMI Cabang Bogor dengan nama Rumah Sakit Kedunghalang
            dan sejak tahun 1951 dikelola menjadi Rumah Sakit Umum PMI hingga sekarang.
        </p>
        <p>
            PMI juga mulai menyelenggarakan kegiatan pelayanan sumbangan darah yang masih terbatas
            di Jakarta dan beberapa kota besar seperti Semarang, Medan, Surabaya dan Makasar
            dengan nama Dinas Dermawan Darah.
        </p>
        <p>
            Dalam peristiwa pemberontakan RMS (Republik Maluku Selatan), PMI bekerjasama dengan
            ICRC melaksanakan pelayanan kesehatan yang dipimpin oleh Dr. Bahder Djohan dan BPH
            Bintara berupa Rumah Sakit terapung di Ambon. Juga diadakan penyampaian berita keluarga
            yang hilang/ terpisah serta mengunjungi tawanan.
        </p>
        <p>
            PMI mulai mengembangkan kegiatan kepemudaan dengan 7.638 anggota remaja di 29 Cabang
            PMI. Bekerjasama dengan Yayasan Kesejahteraan Guru, murid dan anak-anak sepakat
            membentuk unit PMR di sekolah-sekolah, penerbitan majalah PMR, korespodensi, pertukaran
            album, lomba, pameran lukisan, serta penyelenggaraan sanatoria (perawatan paru-paru
            untuk anak-anak).
        </p>

        <h3>Dasawarsa II 1955 - 1964 </h3>
        <p>
            Akibat Pemberontakan PRRI di Sumatera Barat dan Permesta di Sulawesi Utara, Markas
            Besar PMI mengirimkan kapal-kapal PMI ke daerah tersebut untuk menjemput orang-orang
            asing di sana dan juga mengirimkan 4 tim medis ke Sumatera serta 6 tim ke Sulawesi
            Utara.
        </p>
        <p>
            Setelah Presiden Soekarno mencetuskan Tri Komando Rakyat (Trikora) untuk membebaskan
            Irian Barat pada tanggal 19 Desember 1961, Pengurus Besar PMI memanggil Kesatuan
            Sukarela seluruh Cabang untuk siap siaga. Kemudian terbentuklah Kesatuan Nasional
            yang terdiri dari 11 cabang yang telah diseleksi. Sukarelawan Palang Merah yang
            ditugaskan sebagai perawat berjumlah 259 orang dan 770 orang sebagai cadangan.
        </p>
        <p>
            Pada peristiwa Aru 15 Januari 1952, yaitu tenggelamnya Kapal Perang RI Macan Tutul,
            sebanyak 55 orang awak kapal perang tersebut menjadi tawanan Belanda sehingga atas
            permintaan Menteri/KSAL, PMI menghubungi ICRC untuk menangani tawanan tersebut.
            Berkat usaha Sekjen PBB, pihak Belanda menyetujui penyerahan awak kapal di Singapura.
        </p>
        <p>
            Pada tahun 1963 ketika Gunung Agung di Bali meletus , PMI bersama Dinkes Angkatan
            Darat RI membantu penanggulangan para korban bencana tersebut.
        </p>
        <p>
            Ketika Tim Kesatuan Nasional PMI ke Kalimantan Barat dalam rangka Dwikora (Dwi Komando
            Rakyat), telah dikirimkan Tim Kesehatan Nasional untuk membantu Operasi TUMPAS di
            Sulawesi Selatan.
        </p>

        <h3>Dasawarsa III 1965-1975</h3>
        <p>
            Penerbitan Surat Keputusan mengenai Peraturan menteri Kesehatan RI No.23 dan No.024
            mengenai pengakuan Pemerintah RI untuk pertamakali terhadap keberadaan Usaha Transfusi
            Darah (UTD) PMI.
        </p>
        <p>
            Dalam peringatan HUT PMI ke-25 , 17 September 1970 , Pengurus Besar PMI mengeluarkan
            suatu medali khusus dan penghargaan kepada perintis-perintis PMI, seperti: Drs.
            Moh. Hatta dan Prof. Dr. bahder Johan dan Pengurus PMI Daerah/Cabang seluruh Indonesia.
            Setahun kemudian ,1971 diresmikan berdirinya suatu DAJR (Dinas Ambulance Jalan Raya)
        </p>
        <p>
            Jakarta - Bandung sebanyak 7 pos yang dipusatkan di RSU-PMI Bogor. Ambilans yang
            digunakan adalah ambulance Falcon yang dilengkapi personil, alat-alat pertolongan
            pertama, dan telepon radio.
        </p>

        <h3>Dasawarsa IV 1975 -1984</h3>
        <h4>Konflik Timor Timur</h4>
        <p>
            PMI mulai berperan di Timor Timur bulan Agustus 1975 sejak mengalirnya pengungsi
            Timor Timur ke perbatasan Timor Barat di Atambua. Operasi kemanusiaan di Dili dimulai
            bulan Desember 1975 atas permintaan PSTT (Pemerintah Sementara Timor Timur). Kemudian
            kelak pada bulan Oktober tahun 1979 PMI bekerja sama dengan ICRC mulai membuka pos
            bantuan relief di 7 Kecamatan terpencil di Timor Timur.
        </p>

        <h4>Pengungsi Pulau Galang</h4>
        <p>
            Atas permintaan Pemerintah RI, PMI didukung UNHCR membentu pengungsi Vietnam di
            Pulau Galang dalam bidang kesehatan dan kesejahtraan social, antara lain dengan
            mendirikan RS Pulau Galang. PMI juga mengadakan Tracing and Mail Service bekerjasama
            dengan ICRC.
        </p>

        <h4>Gempa Bumi di Bali dan Jayawijaya</h4>
        <p>
            Ketika gempa bumi melanda Bali Juli 1976 yang melanda 3 dari 5 kabupaten
        </p>
        <p>
            PMI mengerahkan tenaga sukarela, membuka Dapur Umum dan membantu perbaikan 500 buah
            rumah. Bekerjasama dengan tim medis dari Angkatan Darat, memberikan pelayanan kesehatan
            makanan dan obat-obatan.
        </p>
        <p>
            Di tahun yang sama gempa bumi melanda Kecamayan Kurima dan Okbibab di Kabupaten
            Jayawijaya dengan kekuatan 6,8 Skala Richter. PMI juga turun langsung membantu korban
            bencana Galunggung tahun 1982 selama beberapa bulan.
        </p>

        <h4>DDS 75 Kali</h4>
        <p>
            Di bidang donor darah, tahun 1978 Pengurus Pusat memberikan penghargaan Pin Emas
            untuk pertamakalinya kepada donor darah sukarela 75 kali. Ketentuan tentang tugas
            dan peran PMI dalam pelayanan transfusi darah dikeluarkan oleh pemerintah melali
            Peraturan Pemerintah No.18 th 1980.
        </p>

        <h3>Dasawarsa V 1984 – 1994</h3>
        <h4>Kantor PMI</h4>
        <p>
            Setelah beberapa kali pindah dari Jl.Abdul Muis ke beberapa lokasi, akhirnya kantor
            pusat PMI menetap di Jl.Jendral Gatot Subroto Kav.96 yang diresmikan oleh Presiden
            Suharto pada tahun 1985.
        </p>

        <h4>Traicing and Mailing RRC-RI</h4>
        <p>
            Selain pelayanan Tracing and Mailing Service (TMS) untuk pengungsi di Pulau Galang,
            pada tahun 1987 TMS PMI mengurus kunjungan keluarga dari RRC ke Indonesia yang pertama
            kalinya sejak hubungan diplomatik kedua negara itu tahun 1967 terputus.
        </p>

        <h4>Kecelakaan KA Bintaro</h4>
        <p>
            Di Jakarta, PMI ikut membantu para korban musibah tabrakan kereta api Bintaro berupa
            pertolongan P3K, Transfusi Darah, TMS, serta pemberian pakaian pantas di sejumlah
            RS di Jakarta tempat korban dirawat.
        </p>

        <h4>Perang Teluk 1991</h4>
        <p>
            Dengan pecahnya Perang Teluk, Pemerintah Indonesia mempercayakan kepada PMI untuk
            memimpin pengiriman bantuan masyarakat Indonesia dengan pesawat khusus ke Jordania,
            untuk korban Perang Teluk sebanyak dua kali. Bantuan sandang, pangan, obat-obatan
            dan peralatan listrik yang diberikan senilai 249 juta rupiah.
        </p>

        <h4>Uji Saring Darah HIV</h4>
        <p>
            Penyebaran virus HIV yang semakin meningkat mendorong terbitnya Keputusan Menteri
            Kesehatan RI No.622/1992 tentang kewajiban pemeriksaan virus HIV pada donor darah.
            Sejalan dengan itu, Depkes RI memberikan bantuan reagensia untuk pemeriksaan virus
            HIV kepada PMI yang diperuntukkan bagi segenap UTDC-PMI.
        </p>

        <h4>Temu Karya Nasional-Lombok </h4>
        <p>
            Pada bulan Juli 1992 diadakan Temu karya dan Lomba KSR Tingkat Nasional di Lombok
            NTB diikuti pula oleh peserta dari Singapura, Malaysia, Thailand, Korea Selatan
            dan Jepang.
        </p>

        <h3>DASAWARSA VI 1994 – 2004</h3>
        <h4>Bencana (Banjir di Aceh, Longsor di Jawa Barat, Banjir di Nias)</h4>
        <p>
            Akhir tahun 2000 banjir menimpa wilayah Aceh. Dengan bantuan ICRC di Lhoksumawe,
            Tim PMI ikut turun tangan membersihkan jalan-jalan dan fasilitas sosial lainnya
            dan memberikan bantuan 4000 paket bantuan alat kebersihan. Pada periode yang sama,
            banjir juga melanda Gorontalo Sulawesi Tengah yang mengakibatkan wilayah tersebut
            terutama di Kecamatan Ranoyapo terisolir banjir.
        </p>
        <p>
            Banjir Lumpur dikuti longsor juga melanda wilayah Jawa Barat selama beberapa hari
            pada bulan Pebruari. Banjir bandang terjadi pula di NTB. 1000 paket bantuan PMI
            dan 610 petromaks disumbangkan oleh Federasi Internasional melalui PMI.
        </p>
        <p>
            Awal Agustus 2001, banjir besar juga telah menghancurkan 8 Kecamatan di Kabupaten
            Nias Sumetera Utara. PMI telah mengirimkan obat-obatan dan bantuan paket keluarga
            berupa peralatan dapur, kelambu nyamuk, pakaian, selimut dan gula untuk memenuhi
            kebutuhan darurat sehari-hari di Nias.
        </p>

        <h4>Konflik di Aceh dan Poso</h4>
        <p>
            Suatu konflik vertikal telah berlangsung di Aceh sejak Januari 2000, konflik horizontal
            di Poso Sulawesi Tengah pada 23 Mei 2000 dan kerusuhan hebat di Maluku Utara pada
            17 Mei 2001. Di Aceh PMI bekerjasama dengan ICRC secara intensif melakukan kegiatan
            evakuasi korban luka dan mayat, membagikan bantuan pangan, pelayanan kesehatan darurat
            serta penyampaian berita keluarga. Sedangkan untuk Poso, PMI berkoordinasi dengan
            ICRC menyalurkan bantuan 4000 paket keluarga diikuti bantuan dari RCTI berupa tikar,
            sarung, handuk, jerigen, sabun mandi, sabun cuci dan pakaian yang diperuntukkan
            kepada 2000 orang. Sedang untuk konflik yang terjadi di Maluku Utara, kembali PMI
            bekerjasama dengan ICRC menyalurkan 5.655 paket bantuan keluarga kepada korban disamping
            pelayanan kesehatan di Tobelo dan Galela.
        </p>
        <p>
            Bantuan tambahan sebanyak 4500 paket dan 2000 unit peralatan sekolah dan seragam
            dari Kedutaan Besar Jepang. Di samping itu bantuan satu unit kendaraan juga telah
            dikirim ke Ternate dari Jakarta untuk membantu operasional teknis lapangan.
        </p>

        <h4>CBFA- Tarakan dan Lampung</h4>
        <p>
            Proyek pengembangan kesehatan berbasis masyarakat (CBFA) telah dimulai di Kalimantan
            Timur dan Tengah sejak Juni 2000. Bantuan disponsori oleh Palang Merah Belanda dengan
            Fasilitas Federasi Internasional bertujuan memperbaiki status kesehatan masyarakat
            di wilayah sasaran.
        </p>

        <h3>PMI Kini</h3>
        <p>
            Di tengah perkembangan masyarakat Indonesia yang semakin global dan dalam suasana
            yang semakin demokratis, PMI terus menguatkan diri sebagai stakeholder untuk ikut
            mengambil peran aktif di dalamnya. PMI terus menyempurnakan organisasi dan tata
            laksana di semua tingkatan untuk persiapan peningkatan kemandirian dan kenetralan
            PMI.
        </p>
        <p>
            PMI kini memiliki program prioritas yaitu peningkatan penyediaan darah, penanggulangan
            bencana, gerakan kebersihan lingkungan, pelatihan pertolongan pertama, dan program
            kacamata untuk masyarakat rentan. Sampai saat ini PMI telah berdiri di 33 propinsi
            dan memiliki lebih dari 400 kabupaten/kota di Indonesia.
        </p>
    </div>
</div>
