@model PMI.Models.Post

@section stylesheet{
    <link href="@Url.ThemeContent("~/Content/singlepost.css")" rel="stylesheet" type="text/css">
}

@{
    ViewBag.Title = "Baca ";
}

<div class="span8" id="single-post">
    <h1>@Model.title</h1>
    <span id="single-post-info">@Model.created</span>
    <div id="single-post-content">
        @Html.SanitizeHTML(Model.content)
    </div>
</div>