@model IEnumerable<PMI.Models.Category>

@{
    ViewBag.Title = "Daftar Kategori";
}

<h2>Daftar Kategori</h2>

<p>
    @Html.ActionLink("Tambah Kategori Baru", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
<thead>
    <tr>
        <th>
            Kategori
        </th>
        <th></th>
    </tr>
</thead>

<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}
</tbody>
</table>
