<h2>
    Peta Situs</h2>
<div class="span2">
    <h3>
        Berita</h3>
    <ul>
        <li><a href="">Berita Utama</a></li>
        <li><a href="">Peristiwa</a></li>
        <li><a href="">Siaran Pers</a></li>
    </ul>
</div>
<div class="span2">
    <h3>
        Gabung Bersama Kami</h3>
    <ul>
        <li><a href="">Menjadi Relawan</a></li>
        <li><a href="">Menjadi Donatur PMI</a></li>
        <li><a href="">Menjadi Mitra Kerja Sama PMI</a></li>
        <li><a href="">Belajar Bersama PMI</a></li>
        <li><a href="">Link Donatur</a></li>
    </ul>
</div>
<div class="span2">
    <h3>
        Program</h3>
    <ul>
        <li><a href="">Program Donor Darah</a></li>
        <li><a href="">Program Kesiapsiagaan Bersama</a></li>
        <li><a href="">Program Lain-lain</a></li>
    </ul>
    <h3>
        Laporan</h3>
    <ul>
        <li><a href="">Laporan Donasi</a></li>
        <li><a href="">Laporan Program</a></li>
    </ul>
</div>
<div class="span2">
    <h3>
        Data dan Informasi</h3>
    <ul>
        <li><a href="">Profil PMI daerah dan PMI Cabang</a></li>
        <li><a href="">Relawan PMI se-Indonesia</a></li>
        <li><a href="">Stok Darah Harian</a></li>
        <li><a href="">Alamat Bank Darah PMI</a></li>
        <li><a href="">Pos Pertolongan Pertama PMI</a></li>
        <li><a href="">Daerah Binaan PMI se-Indonesia</a></li>
        <li><a href="">Link Web PMI se-Indonesia</a></li>
    </ul>
</div>
