<ul class="nav nav-pmi">
    <li class="active"><a href="#">Berita</a></li>
    <li><a href="#">Partisipasi</a></li>
    <li><a href="#">Program</a></li>
    <li><a href="#">Informasi</a></li>
    <li><a href="#">Komunitas</a></li>
    <li>
        @if (Request.IsAuthenticated)
        { 
            @Html.ActionLink("Logout", "LogOff", "Account")
        }
        else
        {
            @Html.ActionLink("Login", "LogOn", "Account")
        }
    </li>
    <li class="pull-right">
        <form class="form-search">
        <div class="input-prepend">
            <span class="add-on"><i class="icon-search"></i></span>
            <input type="text" id="prependedInput" class="input-medium search-query">
        </div>
        </form>
    </li>
</ul>
